@{
    ViewData["Title"] = "Please confirm your email";
    Layout = "_MvcLayout";
}

<!-- Pills navs -->
<div class="col-6 m-5">
    <div class="card card-body">
    <!-- Pills navs -->
    <!-- Pills content -->
    <div class="tab-content">

        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <div class="text-center mb-3">
                <p class="text-bold">a confirmation link was sent to your email. Please confirm your email for account activation</p>
                
            </div>
        </div>
       
    </div>
</div>
</div>

<!-- Pills content -->