@model PersonaServer.Modules.AccountManagement.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "reset your password";
    Layout = "_MvcLayout";
}


<div class="col-4 m-5">
    <div class="card card-body">

        <!-- Pills navs -->
        <!-- Pills content -->
        <div class="tab-content">
            <div asp-validation-summary="ModelOnly" class="p-3 mb-2 text-danger fw-bolder bg-light-gradient bg-opacity-50"></div>

            <div class="tab-pane fade show active" id="pills-login" role="tabpanel">
                <form asp-action="ResetPassword" method="post">

                    <p class="text-center">set your new password:</p>

                    <!-- Email input -->
                    <div class="form-group mb-4">
                        <div class="form-outline">
                            <input type="password" id="password" asp-for="NewPassword" class="form-control" />
                            <label class="form-label" for="password"> new password</label>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger fw-bold"></span>
                    </div>
                    
                    <div class="form-group mb-4">
                        <div class="form-outline">
                            <input type="password" id="repeatpassword" asp-for="RepeatPassword" class="form-control" />
                            <label class="form-label" for="password">Confirm new password</label>
                        </div>
                        <span asp-validation-for="RepeatPassword" class="text-danger fw-bold"></span>
                    </div>
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <input type="hidden" asp-for="ChangePasswordToken" value="@Model.ChangePasswordToken" />
                    <button type="submit" class="btn btn-primary btn-block mb-3">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/Account/StaticFiles/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Account/StaticFiles/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/Account/StaticFiles/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location.pathname;

            if (url.includes("register") || url.includes("Register")) {

                $("#tab-register").addClass("active");
                $("#tab-login").removeClass("active");

                $("#pills-login").removeClass("active");
                $("#pills-login").removeClass("show");

                $("#pills-register").addClass("active");
                $("#pills-register").addClass("show");

                console.log("register click")
            }
        });
    </script>
}